.hero{
    overflow: hidden;
    background:url('/images/hero_2.jpg');
    height:100vh;
    width:100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}
.heroText{
    margin-bottom: 00px;
    padding-bottom: 0px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.heroText p{
    margin-bottom: 0px;
    padding: 50px 0px;
}
.heroText span{
    letter-spacing: 30px;
    backdrop-filter: blur(20px);
    background-color: rgb(255,255,255,0.2);
}

.hero ul{
    position: absolute ;
    right: 20px;
    top:translate(-50%,0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero ul li i{
    width: 50px;
    height: 50px;
    font-size: 180%;
    padding: 10px;
    border-radius: 60px;
    margin:10px;
    border: 1px solid transparent;
}
.hero ul li:hover i{
    background-color:white;
    color: black;
}
@media (max-width:576px){
    .hero ul{
        top: 85%;
        left: auto;
        right: auto;
        flex-direction: row;
        width: 250px;
    }
    .hero ul li i{
        width: 50px;
        height: 50px;
    }
    .heroText p{
        font-size: 25px;
    }
    .heroText span{
        font-size: 12px;
        font-weight: lighter;
        letter-spacing: 15px;
    }
    
}
