.projectContainer{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255,0,0,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.projectcontainer__text{
    margin: auto;
    padding: 50px 0px;
    font-weight: bold;
    width: 60%;
    color: white;
    font-size: 150%;
    font-family:'Fahkwang', sans-serif;
}
.projectcards{
    
    width: 400px;
    height:550px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
}
.swiper{
    width:90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.bakeology{
    background:url('/images/photo-1512223792601-592a9809eed4.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
.scribd{
    background: url('/images/6714.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.letterboxd{
    background: url('/images/cinema.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
.avengers{
    background: url('/images/avengers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.reddit{
    background: url('/images/question.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@media(max-width:576px){
    .projectcards{
        width: 220px;
        height: 380px;
        margin-left: 20px   ;
    }
    .swiper{
        width: 70%;
    }

}