.projectContainer{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projectcontainer__text{
    margin: auto;
    padding: 50px 0px;
    font-weight: bold;
    width: 60%;
    color: white;
    font-size: 150%;
    font-family:'Fahkwang', sans-serif;
}
.projectcards{
    
    width: 400px;
    height:550px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
}
.swiper{
    width:90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.bakeology{
    background:url('/images/photo-1512223792601-592a9809eed4.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
.scribd{
    background: url('/images/6714.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.letterboxd{
    background: url('/images/cinema.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
.avengers{
    background: url('/images/avengers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.reddit{
    background: url('/images/question.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@media(max-width:576px){
    .projectcards{
        width: 220px;
        height: 380px;
        margin-left: 20px ;
        font-size: 12px;
    }
    .swiper{
        width: 70%;
    }
}
.content{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: justify;
}

.content a{
    color: black;
    cursor: pointer;
    font-weight: 600px;
    padding :10px 20px;
    margin-top: 50px;
    border: 1px solid black;
}
.content a:hover{
    color: white;
    background-color: black;
}
.prj-disp{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: 5;
    margin-top: 400px;
    display: none;
    justify-content: center;
    align-items: center;
}
.active{
    display: flex;
}
.prj-description{
    z-index: 6;
    height: 80%;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.prj-disp span{
    margin-top: 50px;
    position: relative;
    color: white;
    background-color: black;
    padding :10px 20px;
    border: 1px solid black;
}
.prj-disp span:hover{
    text-decoration: none;
    color: black;
    background-color: white;
}

.proj-btn{
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 5;
}
#closer{
    text-decoration: none;
    z-index: 10;
    display: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: medium;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding :3px 15px
}
@media (max-width:576px){
    .prj-description p{
        width: 80%;
        font-size: 10px;
    }
}