.skill{
    width: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillContainer{
    padding: 50px 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skillContainer div{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;

}
.skillbox{
    padding: 10px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: red;
}
.bigicon{
    border-bottom: 5px solid red;
    font-size:80px;
}
.rest p{
    font-size: 40px;
}
@media (max-width:675px){
    .bigicon{
        font-size: 42px;
    }
    .rest p{
        font-size: 30px;
    }
}