@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&display=swap');
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    text-align: justify;  
}
:root{
    --var-theme:rgb(255, 255, 255);
}
a:hover{
    text-decoration: none;
}
div{
    font-family: sans-serif;
}
.blur{
    backdrop-filter: blur(20px);
    padding: 10px 0px 10px 22px;   
}
.title{
    opacity: 80%;
    padding:200px 0px;
    display: flex;
    justify-content: center;
    color: var(--var-theme);
    font-family:'Fahkwang', sans-serif;
    font-weight: medium;
    font-size: 60px;
    letter-spacing: 15px;
}
.text-white{
    color:white
}
.title span{
    opacity: 90%;
    color: grey;
    font-family:'Fahkwang', sans-serif;
}
li i{
    color: white;
    padding-right: 1rem;
}
li:hover i{
    transition: .2s linear;
    padding-right: 2rem;
}
body{
    scroll-behavior: smooth;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    
}
#preloader{
    background:white url('/images/preloader.gif') no-repeat center center ;
    background-size: 35%;
    height: 100vh;
    width:100%;
    position: fixed;
    z-index: 100;

}
#theme{   
    position: fixed;
    font-size: 30px;
    top:80px;
    z-index: 10;
    left: 30px;
    background: white;
    border-radius: 50px;
}
.light{
    background : url('/images/sunset.jpg') no-repeat center;
    background:linear-gradient(red,yellow,red)
}
#theme i{
    color: black;
    padding:10px;
}
#particles-js{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;	
}

.top{
    overflow: hidden;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,0.1);
    backdrop-filter: blur(15px);
    height: 55px;
}
    
    html::-webkit-scrollbar{
        display: none;
    }
    *::-webkit-scrollbar{
        display: none;
    }

.list_items{
    position: fixed;
    top: -18px;
    left: 50%;
    transform: translate(-50%,0%);
    display: flex;
}
.navbar a{
    color: white;
    font-family:  'Fahkwang', sans-serif;
    letter-spacing: 5px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: none;
    background-color:white;
    color: black;
}
.name{
    font-family:  'Fahkwang', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: medium;
    letter-spacing: 15px;
}
.top .name{
    position: fixed;
    left: 10px;
    top: 0px;
}
.dropbtn {
    z-index: 30;
    position: fixed;
    top:-13px;
    right: 5px;
    display: none;
    color: white;
    font-size: 25px;
    border: none;
    margin-top: 20px;
    background-color: transparent;
}
.overlay{
    position: fixed;
    left: 0px;
    top: -600px;
    width: 100%;
    height: 500px;
    background-color: black;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s linear;
}
.navbar-slider{
    top:0px;
}
.overlay ul a li{
    padding: 20px 0px;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 26px;
    color: white;
    font-family:  'Fahkwang', sans-serif;
}
.overlay ul a li:last-child{
    border-bottom: none;
}
.background{
    overflow: auto;
    height: 100vh;
    background: url("/images/sunset.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_theme{
    background: url('/images/night.jpg') no-repeat center;
}
.background::-webkit-scrollbar{
    display: none;
}
/* starts here */
.contactbox{
    margin: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.contactcontainer{
    margin-left: 8%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap:1.5rem
}
.column ul li{
    font-family:'Fahkwang', sans-serif;
    font-weight: bold;
    list-style: none;
    color: var(--var-theme);
    margin-top: 20px;
    font-size: 18px;
}
.contactcontainer li i{
    padding-right: 5px;
    color: white;
    transition:all .3s linear;
}
.contactcontainer li:hover i{
    padding-right: 15px;
    color: var(--var-theme);
    z-index: 1;
}
i{
    color: var(--var-theme);
}
.headingcon{
    font-family:'Fahkwang', sans-serif;
    font-size: 28px;
    color: white;
}
@media (max-width:695px){
    .text-med{
        font-size: 10px;
    }
    #theme i{
        font-size: 20px;
        padding: 0;
        height: 20px;
        width: 20px;
    }
    #theme{
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
    }
    i{
        font-size: 18px;
    }
    .navbar{
        display: none;
    }
    button{
        padding: 0px 20px;
        margin-bottom: 20px;
    }
    .dropbtn{
        margin-right: -10px;
        display: block;
    }
    .title{
        font-size: 30px;
    }
    .column li{
        font-size: 8px;
    }
    .column h3{
        font-size: 30px;
        padding: 20px 0px;
    }   
    .name{
        font-size: 15px;
    }
    .top .name{
        top: 16px;
    }
}
@media(max-width:1200px){
    .contactHide{
        display: none;
    }
}
@media(max-width:1400px){
    
    .dropbtn{
        display: block;
    }
    .navbar{
        display: none;
    }
}